body {
	margin: 0; 
	padding: 5px;
	color: #fff;
	max-height: 64px;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #363636;
	background: -moz-linear-gradient(top, #666, #222);
	background: -webkit-linear-gradient(top, #666, #222);
}
.notification-panel {
	margin: 0; 
	padding: 0;
	position: relative;
	max-width: 300px;
	overflow: hidden;
}
.message, .slide-end {
	display: inline-block;
}
.message {
	width: 270px;
	cursor: pointer;
}
.message img {
	border: 0;
	display: inline-block;
	margin-right: 15px;
}
.message p {
	margin: 0;
	padding: 0;
	line-height: 1.6em;
}
.slide-end {
	height: 64px;
	width: 300px;
	position: absolute;
	left: 295px;
	border: 1px yellow solid;
}